.happening-show-container {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.happening-show-image-container {
  display: flex;
  background-color: black;
  height: 100%;
}

.happening-show-details-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
}

.happening-show-image {
  display: flex;
  height: 100%;
}

.happening-show-title {
  display: flex;
  justify-content: center;
  color: white;
}

.happening-show-title-container {
  display: flex;
  justify-content: center;
  background-color: #2D3E50;
  width: 100%;
}

.happening-show-description {
  display: flex;
  justify-content: center;
}

.happening-show-description-container {
  display: flex;
  justify-content: center;
  padding-left: 10px;
  padding-right: 5px;
}

.happening-show-decription-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  margin: 0px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-decoration: underline;
  font-size: 23px;
}

.happening-value-tags {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px;
}

.happening-value-date {

}

.happening-value-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.happening-value-address-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px;
  padding-left: 10px;
  padding-right: 5px;
}
