.happening-form {
  display: flex;
  align-items: center;
}

.happening-form-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 10%;
  flex-direction: column;
}

.happening-form-header {
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.happening-form-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  height: 55px;
  padding-left: 40px;
  padding-right: 25px;
  margin-top: 40px;
}

.happening-form-label {
  margin: 10px;
  padding: 2px;
}

.happening-form-inputs {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  align-items: flex-start;
}

.happening-form-confirm {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.happening-form-confirm-item {
  padding: 10px;
  margin: 5px;
  font-size: 12px;
  border-radius: 10px;
}

.happening-form-map {
  width: 100%;
  height: 100%;
}

.happening-form-map-container {
  display: flex;
  flex-grow: 2;
  height: calc(100vh - 120px);
}

.happening-form-tag {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.happening-form-input {
  margin-top: 24px;
  margin-left: 11px;
}
