.happening-show-container {
  display: flex;
  flex-direction: row;
}
.happening-show-image-container {
  height: 600px;
  display: flex;
  background-color: black;
  width: 100%;
}

.happening-show-details-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  align-items: center;
}

.happening-show-image {
  display: flex;
  height: 100%;
}

.happening-show-title {
  display: flex;
  justify-content: center;
}

.happening-show-title-container {
  display: flex;
  justify-content: center;
  background-color: slategray;
  width: 100%;
}

.happening-show-description {
  display: flex;
  justify-content: center;
}

.happening-show-description-container {
  display: flex;
  justify-content: center;
}

.happening-value {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 200px
}

.happening-value-tags {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}

.happening-value-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
}
