.happening-index-button {
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
}

.filter-item {
  list-style: none;
  width: 125px;
  height: 60px;
  background-color: #E6E6E6;
}

.filter-item-input {
  transform: scale(2);
  cursor: pointer;
}

.filter-item-list {
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 10px;
  justify-content: space-around;
  padding-left: 0px;
  margin-top: 5px;
}

.filter-item-header {
  margin-bottom: 5px;
  margin-top: 5px
}

.filter-item-list-header {
  display: flex;
  justify-content: center;
  color: #E6E6E6;
  font-size: 35px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.filter-item-container {
  background-color: slategray;
  margin-left: 20px;
  margin-right: 20px;
}
