.events-container {
  display: flex;
}

.happening-index {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 10%;
  flex-direction: column;
  margin-top: 10px
}

.filter-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.filter-button {
  display: flex;
}
