.index-item {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  height: 200px;
  justify-content: space-around;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
}

.index-image {
  display: flex;
  flex: auto;
  height: 200px;
}

.index-event-description {
  padding-left: 20px;
  overflow: scroll;
}

.index-item-tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.index-item-tag {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.index-item-container {
  border: 2px solid slategray;
  margin-left: 20px;
  margin-right: 20px;
  height: calc(100vh - 220px);
  overflow: scroll;
}

.happening-index-warning {
  display: flex;
  font-size: 50px;
  justify-content: center;
  margin-top: 250px;
}

.index-item-tags-container {
  display: flex;
  flex-direction: row;
}
