.modal-overlay {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.happening-modal{
  width: 800px;
  background-color: white;
}

.signin-form {
  display: flex;
  flex-direction: column;
}
