.nav-user-auth {
  display: flex;
  padding: 20px;
}

.form-modal {
  display: flex;
  padding-right: 5px;
  padding-left: 5px
}

.navbar-modal {
  display: flex;
  margin-top: 22px;
  padding-right: 10px;
}

.auth-container {
  display: flex;
}

.navbar-happening-form {
  position: fixed;
  margin-top: 22px;
  right: 45%
}
