.splash-page {
  display: flex;
  flex-direction: column;
}

.splash-page-image {
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;
}

.splash-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: calc(50vh - (/* height */100px / 2));
  left: calc(50vw - (/* width */140px / 2));
}

.splash-page-welcome-logo {

}

.splash-page-welcome-tag {
  
}
