.splash-page {
  display: flex;
  flex-direction: column;
  background-image: url("http://res.cloudinary.com/awatt/image/upload/v1462392016/SplashPageImage_asaz9f.jpg");
  height: calc(100vh - 83px);
  background-repeat: no-repeat;
  background-size: cover;
}

.splash-page-image {
  display: flex;
  flex-grow: 1;
  max-height: 100%;
  max-width: 100%;

}

.splash-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin: auto;
  top: 45%;
  right: 0;
  bottom: 86%;
  left: 0;
  width: 800px;
  height: 300px;
}

.splash-page-welcome-logo {
  color: white;
  font-size: 86px;
  margin-bottom: 10px;
}

.splash-page-welcome-tag {
  color: white;
  margin: 10px;
}
.splash-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  height: 60px;
  width: 200px;
  top: 68%;
  left: 50%;
  margin-left: -100px;
  margin-top: -30px;
}

.click-me {
  background-color: #66DB10;
  color: #FFFFFF;
  width: 200px;
  font-size: 22px;
  border-radius: 10px;
}
