// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.body {
  display: flex;
}

.happening-index {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 50%;
}

.map {
  display: flex;
  flex-grow: 1;
  width: 500px;
  height: 500px;
}

.index-item {
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
}


.index-image {
  max-width: 100%;
  max-height: 100%;
}
