// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 2px solid black;
  background-color: #2D3E50;
}

h1 {
  margin-left: 20px;
  cursor: pointer;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-self: center;
}
